@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.font-MyFont {
   font-family: 'Nanum Gothic Coding', monospace;
 }

body{
    background: black;
    overflow:hidden;
}

header {
    overflow:hidden;
}


.burbuja{
    background: #fff;
    opacity: .7;
    position: absolute;
    bottom: 0;
    animation: burbujas 5s linear infinite;
  }
  
  .burbuja:nth-child(1){
     width: 10px;
     height: 10px;
     left: 5%;
     animation-duration: 6s;
     animation-delay: 5s;
     border-radius: 50%;
  }
  .burbuja:nth-child(2){
     width: 17px;
     height: 17px;
     left: 15%;
     animation-duration: 6s;
     animation-delay: 3s;
     border-radius: 50%;
  }
  .burbuja:nth-child(3){
    width: 10px;
    height: 10px;
    left: 45%;
    animation-duration: 8s;
    animation-delay: 4s;
    border-radius: 50%;
 }
 .burbuja:nth-child(4){
    width: 13px;
    height: 13px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
    border-radius: 50%;
 }
 .burbuja:nth-child(5){
    width: 29px;
    height: 29px;
    left: 65%;
    animation-duration: 6s;
    animation-delay: 3s;
    border-radius: 50%;
 }
 .burbuja:nth-child(6){
    width: 10px;
    height: 10px;
    left: 60%;
    animation-duration: 6s;
    animation-delay: 5s;
    border-radius: 50%;
 }
 .burbuja:nth-child(7){
    width: 13px;
    height: 13px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 2s;
    border-radius: 50%;
 }
 .burbuja:nth-child(8){
    width: 20px;
    height: 20px;
    left: 7%;
    animation-duration: 10s;
    animation-delay: 7s;
    background-image: url(./assets/js.svg);
    background-repeat: no-repeat, repeat;
 }
 .burbuja:nth-child(9){
   width: 23px;
   height: 23px;
   left: 15%;
   animation-duration: 10s;
   animation-delay: 3s;
   background-image: url(./assets/html.svg);
   background-repeat: no-repeat, repeat;
}

.burbuja:nth-child(10){
   width: 23px;
   height: 23px;
   left: 25%;
   animation-duration: 10s;
   animation-delay: 3s;
   background-image: url(./assets/react2.svg);
   background-repeat: no-repeat, repeat;
   background-color: black;
   animation: burbujas 10s linear infinite ,girar 2s linear infinite !important;
}

.burbuja:nth-child(11){
   width: 20px;
   height: 20px;
   left: 55%;
   animation-duration: 5s;
   animation-delay: 7s;
   background-image: url(./assets/js.svg);
   background-repeat: no-repeat, repeat;
}

.burbuja:nth-child(11){
   width: 23px;
   height: 23px;
   left: 80%;
   animation-duration: 5s;
   animation-delay: 7s;
   background-image: url(./assets/pyhtonW.svg);
   background-repeat: no-repeat, repeat;
   background-color: black;
}


  
  @keyframes burbujas{
    0%{
      bottom: 0;
      opacity: 0;
    }
    30%{
      transform: translateX(70px);
    }
    50%{
      opacity: .5;
    }
    100%{
      bottom: 100%;
      opacity: 0;
    }
  }

  @keyframes girar {
   0%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(180deg);
   }
   100%{
      transform: rotate(360deg);
   }
 }